name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
        
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.3.1
        
    - name: List Directory Contents
      run: |
        dir
        dir Detours
        
    - name: Build Detours
      run: |
        msbuild Detours/Detours.vcxproj /p:Configuration=ReleaseMD /p:Platform=x64
        
    - name: Build Solution
      run: dotnet build Durangling.sln -c Release
        
    - name: Publish
      run: dotnet publish Durangling.sln -c Release
        
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Durangling-Build
        path: |
          **/bin/Release/net9.0/win-x64/publish/*
          !**/bin/Release/net9.0/win-x64/publish/*.pdb
